@import "base/bootstrap-reboot";
@import "base/vars";
@import "base/icons";

@import "blocks/container";
@import "blocks/caption";
@import "blocks/title";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/benefits";
@import "blocks/possibilities";
@import "blocks/car";
@import "blocks/conditions";
@import "blocks/sity";
@import "blocks/footer";

@import "media/media";

.box {
  background: cadetblue;
  display: flex;
  align-items: center;
  /* column-gap: 20px;
  row-gap: 20px; */
  /* gap: 20px; */
  /* justify-content: flex-start, flex-end, center, space-evenly, space-between,
    space-around; */
  /* align-items: center, flex-end, flex-start; */
  /* flex-direction: row, row-reverse, column, column-reverse; */
  /* flex-wrap: wrap, wrap-reverse; */
}

.item {
  width: 200px;
  height: 200px;
  background: brown;
  border: 2px solid #000;

  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .item-1 {
  align-self: flex-start;
} */

/* .item-3 {
  align-self: flex-end;
} */

/* .item-1 {
  order: 1;
} */

/* -infinity, -2, -1, 0, 1, 2, +infinity */

.box {
  background: #000;
}
