@media (max-width: 940px) {
  .benefits__item {
    align-items: center;
    width: 90%;
    display: flex;
    margin-left: auto;
  }
  .benefits__item-text {
    width: 80%;
  }
}
@media (max-width: 740px) {
  .benefits__item-text {
    width: 70%;
  }
}

@media (max-width: 540px) {
  .benefits__item {
    display: block;
    width: 100%;
    text-align: center;
  }
  .benefits__item-text {
    font-size: 16px;
    margin: 30px auto;
    text-align: left;
    width: 100%;
  }
  .benefits__item-circle {
    margin: 20px auto;
  }
  .benefits__items {
    row-gap: 0px;
  }
}
@media (max-width: 390px) {
  .benefits {
    .title {
      font-size: 16px;
    }
  }
}
