@media (max-width: 1000px) {
  .footer__wrapper {
    justify-content: space-around;
  }
  .footer__socials {
    max-width: 180px;
    width: 100%;
    column-gap: 10px;
  }
  .footer__store {
    max-width: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 755px) {
  .footer__line {
    width: 201px;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__socials {
    order: 2;
  }
  .footer__menu {
    order: 1;
  }
  .footer__store {
    order: 3;
    margin-top: 15px;
    align-items: center;
    flex-direction: row;
    column-gap: 0px;
  }
  .menu__list {
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
  }
}
