@media (max-width: 840px) {
  .promo__title {
    font-weight: 700;
    font-size: 50px;
  }
  .promo__subtitle {
    font-size: 31px;
  }
}
@media (max-width: 600px) {
  .promo {
    padding: 150px 0 70px;
  }
  .promo__title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
  }
  .promo__subtitle {
    margin: 30px 0 50px;
    font-size: 25px;
  }
  .promo__text {
    display: none;
  }
}
@media (max-width: 390px) {
  .promo__subtitle {
    font-size: 20px;
  }
}
