.benefits {
  padding: 20px 0 55px;
}
.benefits__items {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
}
.benefits__item {
  align-items: center;
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.benefits__item-circle {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #1eacc7;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.benefits__item-text {
  width: 70%;
  font-size: 17px;
  line-height: 1.4;
  h3 {
    color: #1eacc7;
    font-size: 17px;
  }
}
