.caption {
  width: 112px;
  height: 25px;
  font-size: 11px;
  background: #000;
  color: #fff;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 33px;
  &_white {
    color: #000;
    background: #fff;
  }
}
