.footer {
  padding: 15px 25px 25px;
}
.footer__line {
  width: 300px;
  height: 4px;
  margin: 0 auto;
  background: #1ca8c3;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__socials {
  width: 275px;
  display: flex;
  justify-content: flex-start;
  column-gap: 20px;
}

.footer__social {
  background: #000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
  img,
  svg,
  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    path {
      transition: 0.3s;
    }
  }
  &:hover {
    background: transparent;
    svg {
      path {
        fill: #000;
      }
    }
  }
}

.icon {
  font-size: 22px;
  color: #fff;
}

.footer__menu {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-transform: uppercase;
  position: relative;
  span {
    color: #1ca8c3;
    font-size: 11px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 300;
}
.menu__list_bottom {
  font-size: 11px;
  color: #999;
  justify-content: space-between;
  margin-top: 10px;
}

.footer__store {
  img {
    width: 90px;
    height: 22px;
  }
}
