.header__top {
  background: #212121;
  padding: 16px 0;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu__link {
  color: #fff;
  font-size: 15px;
  position: relative;
  &:hover {
    color: #fff;
    &::before {
      width: 100%;
      height: 1px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background: #fff;
    transition: 1s;
  }
}
.header__bottom {
  background: rgba($color: #000000, $alpha: 0.6);
  width: 100%;
  position: absolute;
  color: #fff;
  padding: 14px;
  top: 50px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  p {
    font-weight: 300;
  }
}

.header__tel {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  margin-right: 25px;
  span {
    font-size: 12px;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
  }
}
