.possibilities {
  padding: 60px 0;
  text-align: center;
}
.possibilities__text {
  margin-bottom: 30px;
  font-size: 17px;
}

.possibilities__items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.possibilities__item {
  width: 320px;
  height: 280px;
  position: relative;
  p {
    width: 100%;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    position: absolute;
    top: 85px;
  }
  &_1 {
    background: url(../../img/possibilities/1.jpg) center center/cover no-repeat;
  }
  &_2 {
    background: url(../../img/possibilities/2.jpg) center center/cover no-repeat;
  }
  &_3 {
    background: url(../../img/possibilities/3.jpg) center center/cover no-repeat;
  }
  &_4 {
    background: url(../../img/possibilities/4.jpg) center center/cover no-repeat;
  }
  &_5 {
    background: url(../../img/possibilities/5.jpg) center center/cover no-repeat;
  }
  &_6 {
    background: url(../../img/possibilities/6.jpg) center center/cover no-repeat;
  }
}
.possibilities__item-circle {
  border: none;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  font-size: 30px;
  color: #fff;
  padding-bottom: 4px;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1fbad6;
  }
}
