.promo {
  background: url(../../img/promo__img/1.jpg) center center / cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 155px 0 185px;
}

.promo__title {
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
}
.promo__subtitle {
  margin-top: 15px;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}

.promo__text {
  margin: 20px 0 115px;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
}
